<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456243166152-og49hbmqe425jqg0u3ma9ig5bneo6oa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456243166152-og49hbmqe425jqg0u3ma9ig5bneo6oa0</string>
	<key>API_KEY</key>
	<string>AIzaSyBgMLVPWn1lyPdBj-fzulI1LvwW0_YXPH4</string>
	<key>GCM_SENDER_ID</key>
	<string>456243166152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterContent</string>
	<key>PROJECT_ID</key>
	<string>flutter-content-2dc30</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-content-2dc30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456243166152:ios:045fb4f58aac194c3b1efd</string>
</dict>
</plist>